body {
	background-color: #fff;
	font-family: "Ubuntu Mono", sans-serif;
	overflow-x: hidden;
}

body>*{
	padding: 0 3em;		
}

p{
	margin-top: 1em;
}

a, .wrapper{
	display: block;
}

.mobile{
	display: none;
}

.hero {
	display: block;
	font-family: "Silkscreen", sans-serif;
	background-color: #648596;
}

.ib {
	display: inline-block;
}

.hero-icon {
	height: 85px;
}

.title {
	vertical-align: middle;	
	margin: 0;	
}

.search {
	margin-bottom: 3em;
}

.nav {
	background-color: #212529;
    display: block;
    padding: 0.25em 3em;
    font-size: 1.25em;
}

.nav_el {
	display: inline-block;
	margin:  0 2em 0 0;
	color: #fff;
}

.nav_el:hover {
	color: #648596
}

#phunky-list {
	display: block;
	text-align: center;
}

.phunk-wrapper {
	background-color: #eaeaea;
	margin: 0 2.5% 1.5em;
	padding: 5px;
	border: 5px solid #eaeaea;
}

.phunk-id {
	margin: 0;
	font-weight: 600;
	font-size: 1.25em;
	font-family: "Silkscreen", sans-serif;
}

.phunk-img {
	margin: 0 0 15px 0;
	max-width: 200px;
}

.p-btn {
	background: #648596;
	border: none;
	color: #fff;
	padding: 2px 8px;
}

.mrgn {
	margin: 24px 0 8px 0;
}

.inputs, .phunky-pfp {
	vertical-align: top;
}

.ml1em {
	margin-left: 1em;
}

#my-phunk {
	position: absolute;
	background: lightgray;
	margin: 0 0 15px 0;
	width: 350px;
	z-index: 0;
}

#dl-phunk {
	display: block;
	position: absolute;
	width: 350px;
	height: 350px;
	object-fit: contain;
	z-index: 1;
}

@media screen and (max-width: 565.9px) {
	.desk {display: none;}
	.mobile {
		display: inline-block;
		font-size: 1.75rem;
	}
}
